body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("./_90d84df4-51d1-4651-9b58-ddc3e3ae0037.jpeg"); 
    background-repeat: no-repeat;
    background-size: cover;
}

#game {
    order: 1;
    border: 2px solid #000;
    background-color: #000;
}

button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #D64646; 
    color: #FFF;
    border: none;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}

button:hover {
    background-color: #F78259; 
}

canvas:focus {
    outline: none;
}

canvas:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    color: #FFF;
    text-align: center;
}

canvas:after > span {
    font-size: 20px;
    margin-top: 10px;
}

#game {
    position: relative;
    background-color: #000;
}

